# Routes within the container (modify if volumes change)
SQLITE_PATH=/data/db/transactions.db
PARQUET_PATH=/data/parquet/transactions_1m_none.parquet

# Path on the host where the Parquet directory is located
# (relative to the directory in docker-compose.yml)
PARQUET_DIR=./../data
